# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.env/
.conda/

# Jupyter Notebook
.ipynb_checkpoints

# Dataset files
data/raw/
data/**/*.dat
data/**/*.zip

# Results
results/*.csv
results/*.json
results/*.txt

images/

local_results/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 